DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=cogna
DATABASE_PASSWORD=cogna_dev_password
DATABASE_NAME=cogna_training

BACKEND_PORT=3000
NODE_ENV=development

VITE_API_URL=http://dev.cogna.ru/api
